<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about us </title>
</head>
<body>
<h1 align="center">Project - Next Word Prediction </h1>
<div>
    <h2>Name : Manoj H. Yadav </h2>
    <h3>Roll No.: 17</h3>
    <h4>CLass: DSAI </h4>
    {% load static %}
    <h5>for more info <a href="https://www.linkedin.com/in/manoj-yadav-1002">Click Here </a></h5>
</div>

</p>
</body>
</html>